In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-06-14 03:34:40,-33.9258,18.4232,52.88,98,20,1.99
1,1,Hermanus,ZA,2021-06-14 03:39:36,-34.4187,19.2345,51.91,84,2,6.51
2,2,Calabozo,VE,2021-06-14 03:39:36,8.9242,-67.4293,75.63,78,43,1.95
3,3,Ushuaia,AR,2021-06-14 03:36:10,-54.8000,-68.3000,37.06,75,75,11.50
4,4,Kankon,IN,2021-06-14 03:39:37,15.0167,74.0167,80.40,90,100,13.15

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Calabozo,VE,2021-06-14 03:39:36,8.9242,-67.4293,75.63,78,43,1.95
4,4,Kankon,IN,2021-06-14 03:39:37,15.0167,74.0167,80.40,90,100,13.15
6,6,Vertientes,CU,2021-06-14 03:39:37,21.2594,-78.1464,77.61,88,98,4.43
8,8,Los Algarrobos,PA,2021-06-14 03:39:38,8.5000,-82.4333,78.46,96,100,3.98
18,18,Takoradi,GH,2021-06-14 03:39:41,4.8845,-1.7554,78.87,86,98,7.29
21,21,Mogadishu,SO,2021-06-14 03:39:41,2.0371,45.3438,78.89,80,91,15.73
32,32,Bara,NG,2021-06-14 03:39:45,10.3744,10.7288,77.27,68,64,4.41
38,38,Rock Sound,BS,2021-06-14 03:39:46,24.9000,-76.2000,81.41,81,100,11.92
40,40,Hithadhoo,MV,2021-06-14 03:35:12,-0.6000,73.0833,82.74,73,72,9.71
41,41,Cochrane,CA,2021-06-14 03:38:00,51.1834,-114.4687,78.04,40,1,5.75

In [17]:
preferred_cities_df.notnull().sum()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2         Calabozo      VE     75.63   8.9242  -67.4293
4           Kankon      IN     80.40  15.0167   74.0167
6       Vertientes      CU     77.61  21.2594  -78.1464
8   Los Algarrobos      PA     78.46   8.5000  -82.4333
18        Takoradi      GH     78.87   4.8845   -1.7554
21       Mogadishu      SO     78.89   2.0371   45.3438
32            Bara      NG     77.27  10.3744   10.7288
38      Rock Sound      BS     81.41  24.9000  -76.2000
40       Hithadhoo      MV     82.74  -0.6000   73.0833
41        Cochrane      CA     78.04  51.1834 -114.4687

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2         Calabozo      VE     75.63   8.9242  -67.4293
4           Kankon      IN     80.40  15.0167   74.0167
6       Vertientes      CU     77.61  21.2594  -78.1464
8   Los Algarrobos      PA     78.46   8.5000  -82.4333
18        Takoradi      GH     78.87   4.8845   -1.7554
21       Mogadishu      SO     78.89   2.0371   45.3438
32            Bara      NG     77.27  10.3744   10.7288
38      Rock Sound      BS     81.41  24.9000  -76.2000
40       Hithadhoo      MV     82.74  -0.6000   73.0833
41        Cochrane      CA     78.04  51.1834 -114.4687

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))